{% extends 'base.html.twig' %}

{% block title %}Appartement n° {{ apartment.id }} {% endblock %}

{% block body %}
    <h2 class="my-4">Appartement n° {{ apartment.id }} </h2>

    <table class="table">
        <tbody> 
                
            <tr>
                <th>Addresse</th>
                <td>{{ apartment.address }}</td>
            </tr>
            
            <tr>
                <th>Etage</th>
                <td>{{ apartment.floorNumber }}</td>
            </tr>
            
            <tr>
                <th>Localisation</th>
                <td>{{ apartment.location }}</td>
             </tr>
             
             <tr>
                 <th>Surface</th>
                 <td>{{apartment.area}}</td>
             </tr>

             <tr>
                 <th>Nombre de pièces</th>
                 <td>{{ apartment.rooms }}</td>
             </tr>

             <tr>
                 <th>Loyer</th>
                 <td>{{apartment.rental}}</td>
             </tr>

             <tr>
                <th>Latitude</th>
                <td>{{apartment.lat}}</td>
            </tr>

            <tr>
                <th>Longitude</th>
                <td>{{apartment.lng}}</td>
            </tr>

        </tbody>
    </table>

    <h5 class="mt-4">Voulez-vous supprimer cet appartement ? Cela supprimera les avis qui lui sont attribués</h5>
    <div class="mb-4" id="delete_form">
        {{ include('admin/apartment/_delete_form.html.twig') }}
    </div>
<hr>
    {% for review in apartment.reviews %}
        <h2 class="my-4">Avis n°{{ review.id }}</h2>
        <table class="table">

            <tbody>
                <tr>
                    <th>Titre</th>
                    <td> {{ review.title }} </td>
                </tr>
                <tr>
                    <th>Positif</th>
                    <td> {{ review.positive }} </td>
                </tr>
                <tr>
                    <th>Negatif</th>
                    <td> {{ review.negative }} </td>
                </tr>
                <tr>
                    <th>Toujours dans l'appartement</th>
                    <td> {{ review.stillIn }} </td>
                </tr>
                <tr>
                    <th>Date d'ajout</th>
                    <td> {{ review.createdAt|date('Y-m-d H:i:s') }} </td>
                </tr>
                <tr>
                    <th>Date de modification</th>
                    <td> {{ review.updatedAt|date('Y-m-d H:i:s') }} </td>
                </tr>
                <tr>
                    <th>Nom de l'utilisateur</th>
                    <td> {{ review.user }} </td>
                </tr>
                    
            </tbody>
        </table>
<hr>
    {% else %}
        <h2 class="my-5">Pas d'avis sur cette appartement</h2>
<hr>
    {% endfor %}
    <h3 class="my-5">
       <a href="{{ path('admin_apartment_index') }}"> Revenir à la liste</a>
    </h3>
    

{% endblock %}
