{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h2 class="my-5">Les avis</h2>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Titre</th>
                <th class="text-center">Voir</th>
                <th class="text-center">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td class="text-center">{{ review.id }}</td>
                <td>{{ review.title }}</td>
                <td class="text-center">
                    <a href="{{ path('admin_review_show', {'id': review.id}) }}">
                        <button class="btn">Voir</button>
                    </a>
                </td>
                <td class="text-center">
                    {{ include('admin/review/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<hr>
    <h3 class="my-5">
       <a href="{{ path('admin_home')}}"> Revenir à l'accueil</a>
    </h3>
{% endblock %}
