{% extends 'base.html.twig' %}

{% block title %} {{user.surname}} {{user.name}} {% endblock %}

{% block body %}
    <h2 class="my-4">Utilisateur n° {{ user.id }} </h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{user.surname}}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{user.name}}</td>
            </tr>

            <tr>
                <th>Pseudonyme</th>
                <td>{{ user.username }}</td>
            </tr>

            <tr>
                <th>Age</th>
                <td>{{user.age}}</td>
            </tr>
            
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
           
            {#<tr>
                <th>IsActive</th>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
            </tr>#}

            <tr>
                <th>RoleJsonFormat</th>
                <td>{{user.roleJsonFormat}}</td>
            </tr>

        </tbody>
    </table>
    <h5 class="mt-4">Voulez-vous supprimer cet utilisateur ?</h5>
    <div class="mb-4" id="delete_form">
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
<hr>
    <h3 class="my-5">
        <a href="{{ path('admin_user_index') }}"> Revenir à la liste</a>
    </h3>

    {#<a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>#}

{% endblock %}
